In [1]:
import pandas as pd


df = pd.read_csv("Data/title_sup_1950.csv")

In [10]:
df[df['originalTitle'] == "Vice-Versa"]

Empty DataFrame
Columns: [Unnamed: 0, tconst, primaryTitle, originalTitle, runtimeMinutes, startYear, isAdult, genres_x, imdb_id, poster_path, overview]
Index: []

In [18]:
df.drop(columns=["Unnamed: 0","primaryTitle","originalTitle","runtimeMinutes","isAdult","poster_path","overview","characters"], inplace=True)

In [7]:
df.to_csv("info_film_leger.csv", index=False)

In [22]:
import requests
import json

url = "https://api.themoviedb.org/3/find/tt0117060?external_source=imdb_id"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZGJlNWFjZDc1YmIzMWVlYTE2ZmMyY2VkMjU5YmM5ZiIsIm5iZiI6MTc0ODg1OTEyMy41MDQsInN1YiI6IjY4M2Q3OGYzMzVmOGU1MjAxODUzODM2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.06eO4o3IsGnUgXiyrinBOs0jUrexp-CLvKUjbJruAJY"
}

response = requests.get(url, headers=headers)



data = json.loads(response.text)

In [28]:
tmdb_id = data["movie_results"][0]["id"]

In [ ]:
tmdb_id = str(tmdb_id)

str

In [44]:
url2 = "https://api.themoviedb.org/3/movie/" + tmdb_id +"/credits"

r = requests.get(url2, headers=headers)


data2 = json.loads(r.text)

In [60]:

for idx in range(len(data2["cast"][:3])):
   print(data2["cast"][idx]["profile_path"])

/eOh4ubpOm2Igdg0QH2ghj0mFtC.jpg
/g3jSSM8xqbRRJmvHM1GTZx8jmup.jpg
/yPEWzvYnPsOy2BSDgMrhrQsIh0N.jpg

In [56]:
len(data2["cast"][:3])

3

In [6]:
import pandas as pd

df_machin = pd.read_csv("Data/title_sup_1950.csv")

df_machin[df_machin["originalTitle"].str.contains("The Dark Knight")].reset_index()
#st.write(df_machin)

# selected = st.selectbox("Que voulez vous rechercher ?", ['Film', 'Acteur', 'Réalisateur'])

# if selected == "Film":
#     search = st.text_input("Search movies by title", value="")
#     titre = df_machin["originalTitle"].str.contains(search)
#     df_title = df_machin[titre].reset_index()
    
#     if search:
#         st.write(df_title["originalTitle"])

# elif selected == "Acteur": 
#     search = st.text_input("Search movies by actor", value="")
    
# else: 
#     search = st.text_input("Seach movies by realisateur",value="")

,index,Unnamed: 0,tconst,primaryTitle,originalTitle,runtimeMinutes,startYear,isAdult,genres_x,imdb_id,poster_path,overview
0,199734,199734,tt19731776,RiffTrax: The Dark Knight,The Dark Knight,NaN,2008,0,Comedy,NaN,NaN,NaN
1,202544,202544,tt0468569,The Dark Knight,The Dark Knight,152.0,2008,0,"Action,Crime,Drama",tt0468569,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Batman raises the stakes in his war on crime. ...
2,210557,210557,tt4494606,The Dark Knight: Not So Serious,The Dark Knight: Not So Serious,58.0,2009,0,Comedy,NaN,NaN,NaN
3,236599,236599,tt1345836,The Dark Knight Rises,The Dark Knight Rises,164.0,2012,0,"Action,Crime,Drama",tt1345836,/85cWkCVftiVs0BVey6pxX8uNmLt.jpg,Following the death of District Attorney Harve...
4,252436,252436,tt4498364,The Dark Knight: Knightfall - Part One,The Dark Knight: Knightfall - Part One,55.0,2014,0,"Action,Adventure,Drama",NaN,NaN,NaN
5,252438,252438,tt4504426,The Dark Knight: Knightfall - Part Two,The Dark Knight: Knightfall - Part Two,101.0,2014,0,"Action,Adventure,Drama",NaN,NaN,NaN
6,252455,252455,tt4504908,The Dark Knight: Knightfall - Part Three,The Dark Knight: Knightfall - Part Three,102.0,2014,0,"Action,Adventure,Drama",NaN,NaN,NaN
7,261086,261086,tt4653714,The Dark Knight Falls,The Dark Knight Falls,62.0,2015,0,Comedy,NaN,NaN,NaN
8,280472,280472,tt6274696,The Dark Knight Returns: An Epic Fan Film,The Dark Knight Returns: An Epic Fan Film,46.0,2016,0,"Action,Drama,Sci-Fi",NaN,NaN,NaN
9,301197,301197,tt10378660,The Dark Knight: The Ballad of the N Word,The Dark Knight: The Ballad of the N Word,129.0,2018,0,"Action,Comedy,Crime",NaN,NaN,NaN

In [18]:
df_machin[df_machin['imdb_id'].isna()]

,Unnamed: 0,tconst,primaryTitle,originalTitle,runtimeMinutes,startYear,isAdult,genres_x,imdb_id,poster_path,overview
0,0,tt0263330,O Falso Detetive,O Falso Detetive,NaN,1951,0,Comedy,NaN,NaN,NaN
1,1,tt0124032,Nålen,Nålen,83.0,1951,0,Crime,NaN,NaN,NaN
2,2,tt0156450,Daman,Daman,NaN,1951,0,"Drama,Family",NaN,NaN,NaN
3,3,tt0349404,Emei fei xia wu chuang feng huo dao,Emei fei xia wu chuang feng huo dao,NaN,1951,0,"Action,Fantasy",NaN,NaN,NaN
4,4,tt0158457,Afsana,Afsana,168.0,1951,0,"Drama,Family",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
397585,397585,tt3671274,Nova Era: o futuro começa agora,Nova Era: o futuro começa agora,90.0,2029,0,"Action,Adventure,Romance",NaN,NaN,NaN
397586,397586,tt32293987,The Time Machine,The Time Machine,NaN,2029,0,Sci-Fi,NaN,NaN,NaN
397587,397587,tt11982392,The Fast Lives of Our Favorite Celebrities,The Fast Lives of Our Favorite Celebrities,NaN,2029,0,"Comedy,Drama,Romance",NaN,NaN,NaN
397588,397588,tt21416934,The End of Us,The End of Us,NaN,2030,0,"Animation,Drama,Thriller",NaN,NaN,NaN
397590,397590,tt35661014,Out of the Box,Out of the Box,NaN,2032,0,Drama,NaN,NaN,NaN

In [32]:
df_title = df_machin[df_machin["originalTitle"].str.contains("Batman")].reset_index()
print(df_title)
liste_id_imdb = df_title['tconst'].to_list()

     index  Unnamed: 0      tconst                     primaryTitle  \
0    33916       33916   tt0057875                   Batman Dracula
1    35880       35880   tt1228961            Alyas Batman at Robin
2    37415       37415   tt0361763                     James Batman
3    38511       38511   tt0060153                Batman: The Movie
4    41158       41158   tt0061386            Batman Fights Dracula
..     ...         ...         ...                              ...
59  369128      369128  tt21825892             Batman: Heart of Ice
60  384537      384537  tt35885660       Batman: The Darkest Knight
61  390198      390198  tt35853905  Batman - Unexpected East Frisia
62  396923      396923  tt36600032                  Batman Unmasked
63  397535      397535  tt19850008               The Batman Part II

                      originalTitle  runtimeMinutes  startYear  isAdult  \
0                    Batman Dracula            54.0       1964        0
1             Alyas Batman at Robin             0.0       1965        0
2                      James Batman            94.0       1966        0
3                 Batman: The Movie           105.0       1966        0
4             Batman Fights Dracula             0.0       1967        0
..                              ...             ...        ...      ...
59             Batman: Heart of Ice             NaN       2023        0
60       Batman: The Darkest Knight            72.0       2024        0
61  Batman - Unexpected East Frisia            62.0       2025        0
62                  Batman Unmasked            70.0       2025        0
63               The Batman Part II             0.0       2027        0

                   genres_x     imdb_id                       poster_path  \
0                     Drama   tt0057875                               NaN
1                    Comedy   tt1228961  /dGsJzih9ABuKlZx4ZOwqhTXn4Gc.jpg
2   Action,Adventure,Comedy   tt0361763  /ynFwL1BdOdzYceAfLyR0YCAoDkk.jpg
3   Action,Adventure,Comedy   tt0060153  /zzoPxWHnPa0eyfkMLgwbNvdEcVF.jpg
4      Action,Comedy,Horror   tt0061386  /qVQn27tnSOx1hIGTGdLOuHLNck6.jpg
..                      ...         ...                               ...
59                   Action         NaN                               NaN
60                   Action         NaN                               NaN
61                   Action         NaN                               NaN
62         Action,Adventure         NaN                               NaN
63       Action,Crime,Drama  tt19850008  /hUe1G6Ziwl8b6DaaGHjhG6LQQH8.jpg

                                             overview
0   Batman Dracula is a 1964 black and white Ameri...
1                                   A Batman takeoff.
2   An evil syndicate is set to conquer the world,...
3   The Dynamic Duo faces four super-villains who ...
4                                                 NaN
..                                                ...
59                                                NaN
60                                                NaN
61                                                NaN
62                                                NaN
63                Sequel to the 2022 film The Batman.

[64 rows x 12 columns]

In [40]:
import requests
import json

liste_poster_recherche = []
for id in liste_id_imdb:
    url = "https://api.themoviedb.org/3/find/"+ id +"?external_source=imdb_id"

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZGJlNWFjZDc1YmIzMWVlYTE2ZmMyY2VkMjU5YmM5ZiIsIm5iZiI6MTc0ODg1OTEyMy41MDQsInN1YiI6IjY4M2Q3OGYzMzVmOGU1MjAxODUzODM2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.06eO4o3IsGnUgXiyrinBOs0jUrexp-CLvKUjbJruAJY"
    }

    response = requests.get(url, headers=headers)

    data = json.loads(response.text)

    try:
        liste_poster_recherche.append("https://image.tmdb.org/t/p/w500/" + data["movie_results"][0]["poster_path"])
    except:
        print(df_title.loc[df_title['tconst'] == id])

    index  Unnamed: 0      tconst  \
6  118655      118655  tt29314118

                                  primaryTitle  \
6  Vice Press x Thought Bubble Present: Batman

                                 originalTitle  runtimeMinutes  startYear  \
6  Vice Press x Thought Bubble Present: Batman             NaN       1989

   isAdult genres_x imdb_id poster_path overview
6        0      NaN     NaN         NaN      NaN
     index  Unnamed: 0      tconst            primaryTitle  \
13  152412      152412  tt26744226  Twisted Batman Theatre

             originalTitle  runtimeMinutes  startYear  isAdult  \
13  Twisted Batman Theatre            45.0       1998        0

                genres_x imdb_id poster_path overview
13  Comedy,Crime,Mystery     NaN         NaN      NaN
     index  Unnamed: 0      tconst    primaryTitle   originalTitle  \
15  202598      202598  tt33398419  Batman & Robin  Batman & Robin

    runtimeMinutes  startYear  isAdult genres_x imdb_id poster_path overview
15             NaN       2008        0      NaN     NaN         NaN      NaN
     index  Unnamed: 0      tconst                       primaryTitle  \
16  205458      205458  tt16757454  RiffTrax Presents: Batman Forever

                        originalTitle  runtimeMinutes  startYear  isAdult  \
16  RiffTrax Presents: Batman Forever             NaN       2009        0

         genres_x imdb_id poster_path overview
16  Action,Comedy     NaN         NaN      NaN
     index  Unnamed: 0     tconst    primaryTitle   originalTitle  \
17  215369      215369  tt4653674  Batman Reboots  Batman Reboots

    runtimeMinutes  startYear  isAdult genres_x imdb_id poster_path overview
17             NaN       2010        0   Comedy     NaN         NaN      NaN
     index  Unnamed: 0     tconst   primaryTitle  originalTitle  \
18  216339      216339  tt4724924  Batman Untold  Batman Untold

    runtimeMinutes  startYear  isAdult                   genres_x imdb_id  \
18            46.0       2010        0  Action,Adventure,Thriller     NaN

   poster_path overview
18         NaN      NaN
     index  Unnamed: 0     tconst               primaryTitle  \
19  217212      217212  tt6824186  Batman: The Final Victory

                originalTitle  runtimeMinutes  startYear  isAdult genres_x  \
19  Batman: The Final Victory            50.0       2010        0  Fantasy

   imdb_id poster_path overview
19     NaN         NaN      NaN
     index  Unnamed: 0     tconst  \
20  221402      221402  tt2139635

                                     primaryTitle  \
20  Batman Consequences: Ending with the Premiere

                                    originalTitle  runtimeMinutes  startYear  \
20  Batman Consequences: Ending with the Premiere             NaN       2011

    isAdult genres_x imdb_id poster_path overview
20        0      NaN     NaN         NaN      NaN
     index  Unnamed: 0     tconst     primaryTitle    originalTitle  \
21  238573      238573  tt2602174  Batman Revealed  Batman Revealed

    runtimeMinutes  startYear  isAdult            genres_x imdb_id  \
21            62.0       2012        0  Action,Crime,Drama     NaN

   poster_path overview
21         NaN      NaN
     index  Unnamed: 0     tconst                  primaryTitle  \
24  259137      259137  tt5870174  Batman Beyond: Rising Knight

                   originalTitle  runtimeMinutes  startYear  isAdult  \
24  Batman Beyond: Rising Knight            45.0       2014        0

     genres_x imdb_id poster_path overview
24  Animation     NaN         NaN      NaN
     index  Unnamed: 0      tconst          primaryTitle  \
25  271309      271309  tt19425140  Batman City of Heros

           originalTitle  runtimeMinutes  startYear  isAdult      genres_x  \
25  Batman City of Heros           148.0       2015        0  Action,Crime

   imdb_id poster_path overview
25     NaN         NaN      NaN
     index  Unnamed: 0     tconst     primaryTitle    originalTitle  \
27  277122      277122  tt5516944  Batman: Anarchy  Batman: Anarchy

    runtimeMinutes  startYear  isAdult            genres_x imdb_id  \
27            45.0       2016        0  Action,Crime,Drama     NaN

   poster_path overview
27         NaN      NaN
     index  Unnamed: 0     tconst                        primaryTitle  \
28  279641      279641  tt6359334  B@: It's a Wonderful Life, Batman!

                         originalTitle  runtimeMinutes  startYear  isAdult  \
28  B@: It's a Wonderful Life, Batman!            66.0       2016        0

   genres_x imdb_id poster_path overview
28   Comedy     NaN         NaN      NaN
     index  Unnamed: 0     tconst             primaryTitle  \
29  280795      280795  tt5875708  B@ (Batman Parody Film)

              originalTitle  runtimeMinutes  startYear  isAdult genres_x  \
29  B@ (Batman Parody Film)             NaN       2016        0   Comedy

   imdb_id poster_path overview
29     NaN         NaN      NaN
     index  Unnamed: 0      tconst                  primaryTitle  \
34  293947      293947  tt10339232  Rifftrax: Batman v. Superman

                         originalTitle  runtimeMinutes  startYear  isAdult  \
34  Batman v Superman: Dawn of Justice             NaN       2017        0

   genres_x imdb_id poster_path overview
34   Comedy     NaN         NaN      NaN
     index  Unnamed: 0     tconst   primaryTitle  originalTitle  \
35  294846      294846  tt7899164  Batman Beyond  Batman Beyond

    runtimeMinutes  startYear  isAdult genres_x imdb_id poster_path overview
35             NaN       2017        0   Action     NaN         NaN      NaN
     index  Unnamed: 0     tconst            primaryTitle  \
36  295423      295423  tt6084014  Batman: Master of Fear

             originalTitle  runtimeMinutes  startYear  isAdult  \
36  Batman: Master of Fear             NaN       2017        0

          genres_x imdb_id poster_path overview
36  Action,Fantasy     NaN         NaN      NaN
     index  Unnamed: 0     tconst                               primaryTitle  \
39  306817      306817  tt8452560  Deconstructing Boaz Yakin's Batman Beyond

                                originalTitle  runtimeMinutes  startYear  \
39  Deconstructing Boaz Yakin's Batman Beyond             NaN       2018

    isAdult  genres_x imdb_id poster_path overview
39        0  Thriller     NaN         NaN      NaN
     index  Unnamed: 0      tconst                            primaryTitle  \
40  310514      310514  tt13478014  Nostalgic Tomorrow: A Batman Gathering

                             originalTitle  runtimeMinutes  startYear  \
40  Nostalgic Tomorrow: A Batman Gathering            52.0       2019

    isAdult   genres_x imdb_id poster_path overview
40        0  Talk-Show     NaN         NaN      NaN
     index  Unnamed: 0     tconst              primaryTitle  \
41  310999      310999  tt6230896  Batman: Terror of Arkham

               originalTitle  runtimeMinutes  startYear  isAdult  \
41  Batman: Terror of Arkham            57.0       2019        0

                  genres_x imdb_id poster_path overview
41  Action,Adventure,Drama     NaN         NaN      NaN
     index  Unnamed: 0      tconst         primaryTitle        originalTitle  \
43  323537      323537  tt12059074  Batman: Most Wanted  Batman: Most Wanted

    runtimeMinutes  startYear  isAdult                genres_x imdb_id  \
43             NaN       2020        0  Action,Animation,Crime     NaN

   poster_path overview
43         NaN      NaN
     index  Unnamed: 0      tconst               primaryTitle  \
44  326792      326792  tt14857194  Superman: Agent of Batman

                originalTitle  runtimeMinutes  startYear  isAdult  \
44  Superman: Agent of Batman            54.0       2020        0

              genres_x imdb_id poster_path overview
44  Action,Crime,Drama     NaN         NaN      NaN
     index  Unnamed: 0      tconst                 primaryTitle  \
45  329630      329630  tt15598866  Batman! Night of the Knight

                  originalTitle  runtimeMinutes  startYear  isAdult  \
45  Batman! Night of the Knight           108.0       2020        0

         genres_x imdb_id poster_path overview
45  Action,Comedy     NaN         NaN      NaN
     index  Unnamed: 0      tconst         primaryTitle        originalTitle  \
47  340836      340836  tt14802300  The Death of Batman  The Death of Batman

    runtimeMinutes  startYear  isAdult               genres_x     imdb_id  \
47            90.0       2021        0  Action,Drama,Thriller  tt14802300

                         poster_path  \
47  /3CvpHZh376IoJwBuHCsx1X4jr1E.jpg

                                             overview
47  A video narrative performance art piece, detai...
     index  Unnamed: 0      tconst             primaryTitle  \
51  348752      348752  tt22041034  Batman: The Dawn Sequel

              originalTitle  runtimeMinutes  startYear  isAdult genres_x  \
51  Batman: The Dawn Sequel            17.0       2022        0   Action

   imdb_id poster_path overview
51     NaN         NaN      NaN
     index  Unnamed: 0      tconst             primaryTitle  \
53  358207      358207  tt12815434  Batman: A Beautiful Lie

              originalTitle  runtimeMinutes  startYear  isAdult  \
53  Batman: A Beautiful Lie             NaN       2022        0

                  genres_x imdb_id poster_path overview
53  Action,Animation,Drama     NaN         NaN      NaN
     index  Unnamed: 0      tconst       primaryTitle      originalTitle  \
54  359011      359011  tt13456320  Batman: Aftermath  Batman: Aftermath

    runtimeMinutes  startYear  isAdult genres_x imdb_id poster_path overview
54            48.0       2022        0   Action     NaN         NaN      NaN
     index  Unnamed: 0      tconst           primaryTitle  \
55  359270      359270  tt22855072  Batman: Taking Flight

            originalTitle  runtimeMinutes  startYear  isAdult      genres_x  \
55  Batman: Taking Flight             NaN       2022        0  Action,Crime

   imdb_id poster_path overview
55     NaN         NaN      NaN
     index  Unnamed: 0      tconst             primaryTitle  \
56  360609      360609  tt19267476  Batman: Darkness of Day

              originalTitle  runtimeMinutes  startYear  isAdult  \
56  Batman: Darkness of Day           120.0       2022        0

                    genres_x imdb_id poster_path overview
56  Action,Adventure,Mystery     NaN         NaN      NaN
     index  Unnamed: 0      tconst  \
57  365338      365338  tt34821811

                                         primaryTitle  \
57  Batman the series: Under the Red Hood pilot movie

                                        originalTitle  runtimeMinutes  \
57  Batman the series: Under the Red Hood pilot movie            59.0

    startYear  isAdult genres_x imdb_id poster_path overview
57       2023        0      NaN     NaN         NaN      NaN
     index  Unnamed: 0      tconst          primaryTitle  \
59  369128      369128  tt21825892  Batman: Heart of Ice

           originalTitle  runtimeMinutes  startYear  isAdult genres_x imdb_id  \
59  Batman: Heart of Ice             NaN       2023        0   Action     NaN

   poster_path overview
59         NaN      NaN
     index  Unnamed: 0      tconst                primaryTitle  \
60  384537      384537  tt35885660  Batman: The Darkest Knight

                 originalTitle  runtimeMinutes  startYear  isAdult genres_x  \
60  Batman: The Darkest Knight            72.0       2024        0   Action

   imdb_id poster_path overview
60     NaN         NaN      NaN
     index  Unnamed: 0      tconst                     primaryTitle  \
61  390198      390198  tt35853905  Batman - Unexpected East Frisia

                      originalTitle  runtimeMinutes  startYear  isAdult  \
61  Batman - Unexpected East Frisia            62.0       2025        0

   genres_x imdb_id poster_path overview
61   Action     NaN         NaN      NaN
     index  Unnamed: 0      tconst     primaryTitle    originalTitle  \
62  396923      396923  tt36600032  Batman Unmasked  Batman Unmasked

    runtimeMinutes  startYear  isAdult          genres_x imdb_id poster_path  \
62            70.0       2025        0  Action,Adventure     NaN         NaN

   overview
62      NaN

In [20]:
liste_id_imdb = df_machin.loc[df_machin['originalTitle'].str.contains("Harry Potter"), 'tconst'].to_list()

In [21]:
import requests
import json

headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZGJlNWFjZDc1YmIzMWVlYTE2ZmMyY2VkMjU5YmM5ZiIsIm5iZiI6MTc0ODg1OTEyMy41MDQsInN1YiI6IjY4M2Q3OGYzMzVmOGU1MjAxODUzODM2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.06eO4o3IsGnUgXiyrinBOs0jUrexp-CLvKUjbJruAJY"
        }
dic_poster = {}
for id in liste_id_imdb:
        
            url = "https://api.themoviedb.org/3/find/"+ id +"?external_source=imdb_id"

            response = requests.get(url, headers=headers)

            data = json.loads(response.text)

            try:
                dic_poster[id] = data["movie_results"][0]["poster_path"]
            except:
                pass

dic_poster

{'tt0241527': '/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg',
 'tt0295297': '/sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg',
 'tt0304141': '/aWxwnYoe8p2d2fcxOqtvAtJ72Rw.jpg',
 'tt0330373': '/fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg',
 'tt0373889': '/5aOyriWkPec0zUDxmHFP9qMmBaj.jpg',
 'tt0417741': '/z7uo9zmQdQwU5ZJHFpv2Upl30i1.jpg',
 'tt0926084': '/iGoXIpQb7Pot00EEdwpwPajheZ5.jpg',
 'tt1201607': '/c54HpQmuwXjHq2C9wmoACjxoom3.jpg'}

In [22]:
dic_poster

{'tt0241527': '/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg',
 'tt0295297': '/sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg',
 'tt0304141': '/aWxwnYoe8p2d2fcxOqtvAtJ72Rw.jpg',
 'tt0330373': '/fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg',
 'tt0373889': '/5aOyriWkPec0zUDxmHFP9qMmBaj.jpg',
 'tt0417741': '/z7uo9zmQdQwU5ZJHFpv2Upl30i1.jpg',
 'tt0926084': '/iGoXIpQb7Pot00EEdwpwPajheZ5.jpg',
 'tt1201607': '/c54HpQmuwXjHq2C9wmoACjxoom3.jpg'}

In [23]:
for idx, (id_imdb, poster) in enumerate(dic_poster.items()):
    if poster is not None and idx < 30:
        print(idx, id_imdb, poster)

0 tt0241527 /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
1 tt0295297 /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
2 tt0304141 /aWxwnYoe8p2d2fcxOqtvAtJ72Rw.jpg
3 tt0330373 /fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg
4 tt0373889 /5aOyriWkPec0zUDxmHFP9qMmBaj.jpg
5 tt0417741 /z7uo9zmQdQwU5ZJHFpv2Upl30i1.jpg
6 tt0926084 /iGoXIpQb7Pot00EEdwpwPajheZ5.jpg
7 tt1201607 /c54HpQmuwXjHq2C9wmoACjxoom3.jpg

In [15]:
len(dic_poster)

467

In [37]:
# Import bibliothèque de manipulation de dataframe
import pandas as pd

# Import modèle de ML NON Supervisé
from sklearn.neighbors import NearestNeighbors

# Import outil standardisation de la donnée
from sklearn.preprocessing import StandardScaler

# Import pipeline
from sklearn.pipeline import make_pipeline

# Gestion des warnings
import warnings
warnings.filterwarnings('ignore')

import nltk
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import re
from sklearn.compose import ColumnTransformer
import recommendation
df_reco = pd.read_csv("Data/donnees_model_reco.csv")
imdb_id ='tt0295297'

In [39]:
df = pd.read_csv("Data/donnees_model_reco.csv")
df_film = df[df['tconst'] == imdb_id]

In [47]:
df_film.index

Index([62413], dtype='int64')

In [43]:
import pickle
with open("Data/donnees_clean_ml.pkl", 'rb') as file_donnees_model:
    X = pickle.load(file_donnees_model)

In [48]:
with open("Data/preprocessor.pkl", 'rb') as file_preprocessor:
    preprocessor = pickle.load(file_preprocessor)


with open("Data/model_knn.pkl", 'rb') as file_model:
    model_knn = pickle.load(file_model)

In [51]:
index_cible = df_film[df_film['tconst'] == imdb_id].index
    
cible_transformed = preprocessor.transform(X.loc[index_cible])
distance, indice = model_knn.kneighbors(cible_transformed)

In [68]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZGJlNWFjZDc1YmIzMWVlYTE2ZmMyY2VkMjU5YmM5ZiIsIm5iZiI6MTc0ODg1OTEyMy41MDQsInN1YiI6IjY4M2Q3OGYzMzVmOGU1MjAxODUzODM2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.06eO4o3IsGnUgXiyrinBOs0jUrexp-CLvKUjbJruAJY"
}

In [70]:
import requests
import json

In [ ]:
id_voisins = df.iloc[indice[0]]['tconst'].to_list()

dic_poster = {}
for idx, id in enumerate(id_voisins):
    if idx >= 1:     
        url = "https://api.themoviedb.org/3/find/"+ id +"?external_source=imdb_id"

        response = requests.get(url, headers=headers)

        data = json.loads(response.text)

        try:
            dic_poster[id] = data["movie_results"][0]["poster_path"]
        except:
             pass

    #cols = st.columns(5)

for idx, (id_imdb_reco, poster) in enumerate(dic_poster.items()):
     if poster is not None:
            print(id_imdb_reco)
            # col = cols[idx]
            # with col:
            #     st.image("https://image.tmdb.org/t/p/w500/" + poster)

            #     if st.button("Cliquer ici pour plus d'informations", key=id_imdb_reco):
                    
            #         st.session_state['selected_film'] = id_imdb_reco

            #         st.switch_page("pages/page_film.py")

tt0241527
tt0241527
tt0330373
tt0241527
tt0330373
tt1954491
tt0241527
tt0330373
tt1954491
tt9485592

In [79]:
for idx, (id_imdb_reco, poster) in enumerate(dic_poster.items()):
    if poster is not None:
        print(idx)
        print(id_imdb_reco)
        print(poster)

0
tt0241527
/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
1
tt0330373
/fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg
2
tt1954491
/obVrj6f202wiA37qS09qyEwjl9S.jpg
3
tt9485592
/9SkDonAfhlCL4D3JglaJDMeAYj9.jpg

In [2]:
import requests
import json

In [17]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZGJlNWFjZDc1YmIzMWVlYTE2ZmMyY2VkMjU5YmM5ZiIsIm5iZiI6MTc0ODg1OTEyMy41MDQsInN1YiI6IjY4M2Q3OGYzMzVmOGU1MjAxODUzODM2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.06eO4o3IsGnUgXiyrinBOs0jUrexp-CLvKUjbJruAJY"
}
tmdb_id = "954"

url_details_fr = "https://api.themoviedb.org/3/movie/"+str(tmdb_id)+"/translations"
response_details_fr = requests.get(url_details_fr, headers=headers)
details_fr = json.loads(response_details_fr.text)

In [24]:
url = 'https://api.themoviedb.org/3/movie/954?language=fr-FR'
response_details_fr = requests.get(url, headers=headers)
details_fr = json.loads(response_details_fr.text)

In [33]:
url_credits = "https://api.themoviedb.org/3/movie/" + str(tmdb_id) + "/credits"
response_credits = requests.get(url_credits, headers=headers)
credits = json.loads(response_credits.text)

In [43]:
for idx in range(len(credits['crew'])):
    if credits['crew'][idx]['known_for_department'] == 'Directing':
        print(credits['crew'][idx]['known_for_department'])
        print(credits['crew'][idx]['name'])
        break

Directing
Brian De Palma

In [ ]:
url_video = "https://api.themoviedb.org/3/movie/"+str(tmdb_id)+"/videos?language=fr-FR"
response_video = response_credits = requests.get(url_video, headers=headers)
video = json.loads(response_video.text)

In [1]:
import pandas as pd

In [2]:
df_machin = pd.read_csv("Data/title_sup_1950.csv")

In [3]:
df_machin.drop(columns="Unnamed: 0", inplace=True)

In [11]:
df_machin

,tconst,primaryTitle,originalTitle,runtimeMinutes,startYear,isAdult,genres_x,imdb_id,poster_path,overview,title
0,tt0263330,O Falso Detetive,O Falso Detetive,NaN,1951,0,Comedy,NaN,NaN,NaN,NaN
1,tt0124032,Nålen,Nålen,83.0,1951,0,Crime,NaN,NaN,NaN,NaN
2,tt0156450,Daman,Daman,NaN,1951,0,"Drama,Family",NaN,NaN,NaN,NaN
3,tt0349404,Emei fei xia wu chuang feng huo dao,Emei fei xia wu chuang feng huo dao,NaN,1951,0,"Action,Fantasy",NaN,NaN,NaN,NaN
4,tt0158457,Afsana,Afsana,168.0,1951,0,"Drama,Family",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
404954,tt9608814,Brides of Jesus,Brides of Jesus,17.0,2020,0,"Action,Drama,Musical",tt9608814,/k8AFZ4qm26kJxKJ0cMn1MA4Mhsl.jpg,A young nun auditions for a girl rock band.,NaN
404955,tt9660340,Will Australia Ever Have a Black Prime Minister?,Will Australia Ever Have a Black Prime Minister?,56.0,2019,0,NaN,tt9660340,/vsMg835mS2zFHIVis7Rapl4BmtB.jpg,What chance does an Indigenous Australian born...,NaN
404956,tt9764804,La isla de las Muñecas,La isla de las Muñecas,0.0,2021,0,Horror,tt9764804,/zbfuyRiuOwZqfBosrNQcH8eWgKV.jpg,NaN,NaN
404957,tt9821006,Found You Righteous,Found You Righteous,0.0,2020,0,NaN,tt9821006,/cCcxx4F7gIWR05JRXy9atFg8nLX.jpg,"Malcolm, a computer programmer recently diagno...",NaN
404958,tt9915736,Liebestraum,Liebestraum,89.0,2020,0,Musical,tt9915736,/yfJ5ff5iCEABowDeQfBETGTJ6M.jpg,A lie of 200 years is about to be revealed......,NaN

In [104]:
search = "spiderman 2".lower()

In [68]:
import re

In [105]:
search = re.sub(r"[^\w]", "", search)

In [106]:
search

'spiderman2'

In [107]:
df_machin["title"] = df_machin["title"].str.replace(r"[^\w]", "", regex=True)
df_machin["originalTitle"] = df_machin["originalTitle"].str.replace(r"[^\w]", "", regex=True)



titre_exact = (df_machin["title"].str.lower() == search) | (df_machin["originalTitle"].str.lower() == search)
titre_partielle = (df_machin["title"].str.lower().str.contains(search, na=False)) | (df_machin["originalTitle"].str.lower().str.contains(search, na=False))
df_title = pd.concat([df_machin[titre_exact], df_machin[titre_partielle].sort_values(by="startYear", ascending=False)])
liste_id_imdb = [id for id in df_title['tconst'].unique()]

In [110]:
df_title

,tconst,primaryTitle,originalTitle,runtimeMinutes,startYear,isAdult,genres_x,imdb_id,poster_path,overview,title
184858,tt0316654,Spider-Man 2,SpiderMan2,127.0,2004,0,"Action,Adventure,Sci-Fi",tt0316654,/olxpyq9kJAZ2NU1siLshhhXEPR7.jpg,Peter Parker is going through a major identity...,SpiderMan2
344326,tt10782740,The Spider-Man 2,TheSpiderMan2,49.0,2021,0,"Action,Adventure,Romance",NaN,NaN,NaN,NaN
345331,tt18351128,The Amazing Spiderman 2 Webb Cut,TheAmazingSpiderman2WebbCut,NaN,2021,0,Sci-Fi,NaN,NaN,NaN,NaN
326940,tt10974542,Spider-Man 2: Broken Identity,SpiderMan2BrokenIdentity,100.0,2019,0,Action,NaN,NaN,NaN,NaN
308093,tt9146610,Discount Spiderman 2,DiscountSpiderman2,52.0,2018,0,Comedy,NaN,NaN,NaN,NaN
309353,tt6245274,Spider-Man 2: Another World,SpiderMan2AnotherWorld,90.0,2018,0,Sci-Fi,NaN,NaN,NaN,NaN
302194,tt6859022,Spider-Man 2: A Darker Path,SpiderMan2ADarkerPath,NaN,2017,0,"Action,Adventure",NaN,NaN,NaN,NaN
287060,tt4485174,Web of Spider Man 2: End of Time,WebofSpiderMan2EndofTime,NaN,2016,0,Action,NaN,NaN,NaN,NaN
256361,tt4060186,Something Sinister This Way Comes - The Amazin...,SomethingSinisterThisWayComesTheAmazingSpiderMan2,NaN,2014,0,NaN,NaN,NaN,NaN,NaN
256362,tt4060252,The Wages of Heroism: Making the Amazing Spide...,TheWagesofHeroismMakingtheAmazingSpiderMan2,104.0,2014,0,NaN,tt4060252,/z5nm4z5dCS06mptUKKJpVBIq1aX.jpg,A series of featurettes detailing the heroic e...,NaN
259249,tt1872181,The Amazing Spider-Man 2,TheAmazingSpiderMan2,142.0,2014,0,"Action,Adventure,Sci-Fi",tt1872181,/c3e9e18SSlvFd1cQaGmUj5tqL5P.jpg,"For Peter Parker, life is busy. Between taking...",TheAmazingSpiderManLeDestindunhéros
263970,tt6510632,Spider-Man 2: Age of Darkness,SpiderMan2AgeofDarkness,NaN,2014,0,Action,NaN,NaN,NaN,NaN
207932,tt33479099,RiffTrax Presents: Spider-Man 2,RiffTraxPresentsSpiderMan2,NaN,2008,0,NaN,NaN,NaN,NaN,NaN
184858,tt0316654,Spider-Man 2,SpiderMan2,127.0,2004,0,"Action,Adventure,Sci-Fi",tt0316654,/olxpyq9kJAZ2NU1siLshhhXEPR7.jpg,Peter Parker is going through a major identity...,SpiderMan2

In [108]:
len(liste_id_imdb)

13

In [109]:
liste_id_imdb

['tt0316654',
 'tt10782740',
 'tt18351128',
 'tt10974542',
 'tt9146610',
 'tt6245274',
 'tt6859022',
 'tt4485174',
 'tt4060186',
 'tt4060252',
 'tt1872181',
 'tt6510632',
 'tt33479099']

In [1]:
import pandas as pd
import re

In [1]:
search = 'bullet train'

In [7]:
df_title = pd.read_csv("Data/title_sup_1950.csv")
df_title = df_title[["tconst", 'originalTitle', 'title','startYear']]
df_info = pd.read_csv("Data/info_film_leger.csv")
df_info = df_info[['tconst', 'primaryName', 'category']]


df_title["title"] = df_title["title"].str.replace(r"[^\w]", "", regex=True)
df_title["originalTitle"] = df_title["originalTitle"].str.replace(r"[^\w]", "", regex=True)


#selected = st.selectbox("Que voulez vous rechercher ?", ['Film', 'Acteur', 'Réalisateur'])

#if selected == "Film":
#try :
     
        #search = st.text_input("Rechercher par titre de film", value="").lower()
        
search = re.sub(r"[^\w]", "", search)
titre_exact = (df_title["title"].str.lower() == search) | (df_title["originalTitle"].str.lower() == search)
titre_partielle = (df_title["title"].str.lower().str.contains(search, na=False)) | (df_title["originalTitle"].str.lower().str.contains(search, na=False))
df_title_filtrer = pd.concat([df_title[titre_exact].sort_values(by="startYear", ascending=False), df_title[titre_partielle].sort_values(by="startYear", ascending=False)])

In [8]:
df_title_filtrer

            tconst        originalTitle                 title  startYear
360254  tt12593682          BulletTrain           BulletTrain       2022
400373  tt33452974  Shinkansendaibakuha  BulletTrainExplosion       2025
359216  tt16605106      BulletTrainDown       BulletTrainDown       2022
360254  tt12593682          BulletTrain           BulletTrain       2022

In [4]:
df_machin[df_machin['originalTitle'].str.contains("Harry Potter")]

,Unnamed: 0,tconst,primaryTitle,originalTitle,runtimeMinutes,startYear,isAdult,genres_x,imdb_id,poster_path,overview,title
170299,170299,tt0241527,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,152.0,2001,0,"Adventure,Family,Fantasy",tt0241527,/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg,Harry Potter has lived under the stairs at his...,Harry Potter à l'école des sorciers
175770,175770,tt0295297,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets,161.0,2002,0,"Adventure,Family,Fantasy",tt0295297,/sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg,"Cars fly, trees fight back, and a mysterious h...",Harry Potter et la Chambre des secrets
184456,184456,tt0304141,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban,142.0,2004,0,"Adventure,Family,Fantasy",tt0304141,/aWxwnYoe8p2d2fcxOqtvAtJ72Rw.jpg,Year three at Hogwarts means new fun and chall...,Harry Potter et le Prisonnier d'Azkaban
190825,190825,tt0330373,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire,157.0,2005,0,"Adventure,Family,Fantasy",tt0330373,/fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg,When Harry Potter's name emerges from the Gobl...,Harry Potter et la Coupe de feu
195483,195483,tt20766450,Harry Potter und ein Stein,Harry Potter und ein Stein,85.0,2006,0,Comedy,NaN,NaN,NaN,NaN
198651,198651,tt25403504,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,NaN,2007,0,Comedy,NaN,NaN,NaN,NaN
199692,199692,tt0373889,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,138.0,2007,0,"Action,Adventure,Family",tt0373889,/5aOyriWkPec0zUDxmHFP9qMmBaj.jpg,Returning for his fifth year of study at Hogwa...,Harry Potter et l'Ordre du Phénix
203754,203754,tt30526951,Harry Potter und der Plastikpokal,Harry Potter und der Plastikpokal,67.0,2008,0,Comedy,NaN,NaN,NaN,NaN
203760,203760,tt30517220,Harry Potter und der geheime Pornokeller,Harry Potter und der geheime Pornokeller,95.0,2008,0,Comedy,NaN,NaN,NaN,NaN
207507,207507,tt27919362,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban,NaN,2008,0,Comedy,NaN,NaN,NaN,NaN
210143,210143,tt27666796,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets,NaN,2008,0,Comedy,NaN,NaN,NaN,NaN
215474,215474,tt0417741,Harry Potter and the Half-Blood Prince,Harry Potter and the Half-Blood Prince,153.0,2009,0,"Action,Adventure,Family",tt0417741,/z7uo9zmQdQwU5ZJHFpv2Upl30i1.jpg,As Lord Voldemort tightens his grip on both th...,Harry Potter et le Prince de sang-mêlé
220274,220274,tt28174857,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire,NaN,2010,0,Comedy,NaN,NaN,NaN,NaN
225291,225291,tt0926084,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows - Part 1,146.0,2010,0,"Adventure,Family,Fantasy",tt0926084,/iGoXIpQb7Pot00EEdwpwPajheZ5.jpg,"Harry, Ron and Hermione walk away from their l...",Harry Potter et les Reliques de la Mort : part...
229367,229367,tt1201607,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows - Part 2,130.0,2011,0,"Adventure,Family,Fantasy",tt1201607,/c54HpQmuwXjHq2C9wmoACjxoom3.jpg,"Harry, Ron and Hermione continue their quest t...",Harry Potter et les Reliques de la Mort : part...
231047,231047,tt29306911,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,NaN,2011,0,Fantasy,NaN,NaN,NaN,NaN
232846,232846,tt33476335,Harry Potter and the Half-Blood Prince,Harry Potter and the Half-Blood Prince,NaN,2011,0,NaN,NaN,NaN,NaN,NaN
236207,236207,tt8443702,Harry Potter and the Untold Stories of Hogwarts,Harry Potter and the Untold Stories of Hogwarts,58.0,2012,0,"Adventure,Comedy,Fantasy",NaN,NaN,NaN,NaN
245805,245805,tt33491654,"Harry Potter and the Deathly Hallows, Part 1","Harry Potter and the Deathly Hallows, Part 1",NaN,2013,0,NaN,NaN,NaN,NaN,NaN
278404,278404,tt33503392,"Harry Potter and the Deathly Hallows, Part 2","Harry Potter and the Deathly Hallows, Part 2",NaN,2016,0,NaN,NaN,NaN,NaN,NaN
393599,393599,tt35072648,Harry Potterkin a Kamen bolseviku,Harry Potterkin a Kamen bolseviku,NaN,2024,0,Comedy,NaN,NaN,NaN,NaN
394418,394418,tt33042905,Harry Potter and the Stone,Harry Potter and the Stone,152.0,2024,0,"Comedy,Fantasy",NaN,NaN,NaN,NaN

In [9]:
import requests
import json

In [13]:
imdb_id = 'tt0241527'
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZGJlNWFjZDc1YmIzMWVlYTE2ZmMyY2VkMjU5YmM5ZiIsIm5iZiI6MTc0ODg1OTEyMy41MDQsInN1YiI6IjY4M2Q3OGYzMzVmOGU1MjAxODUzODM2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.06eO4o3IsGnUgXiyrinBOs0jUrexp-CLvKUjbJruAJY"
}

url_imdb_id = "https://api.themoviedb.org/3/find/"+ imdb_id+ "?external_source=imdb_id"

response_imdb_id = requests.get(url_imdb_id, headers=headers)
info_film = json.loads(response_imdb_id.text)
tmdb_id = info_film["movie_results"][0]["id"]

url_details_fr = "https://api.themoviedb.org/3/movie/"+ str(tmdb_id) +"?language=fr-FR"
response_details_fr = requests.get(url_details_fr, headers=headers)
details_fr = json.loads(response_details_fr.text)
if details_fr["belongs_to_collection"]:
    
    id_collection = details_fr["belongs_to_collection"]["id"]

    url_collection = "https://api.themoviedb.org/3/collection/" + str(id_collection) + "?language=fr-FR"
    response_id_collection = requests.get(url_collection, headers=headers)
    collection = json.loads(response_id_collection.text)


    liste_id_saga = []

    for idx in range(len(collection["parts"])):

        tmdb_id_saga = collection["parts"][idx]["id"]
        

        url_imdb_from_tmdb = "https://api.themoviedb.org/3/movie/" + str(tmdb_id_saga) + "/external_ids"
        response_imdb_from_tmdb = requests.get(url_imdb_from_tmdb, headers=headers)
        imdbid = json.loads(response_imdb_from_tmdb.text)

        imdb_id_from_tmdb = imdbid['imdb_id']

        liste_id_saga.append(imdb_id_from_tmdb)

In [16]:
import pickle

In [17]:
with open("Data/preprocessor.pkl", 'rb') as file_preprocessor:
    preprocessor = pickle.load(file_preprocessor)


with open("Data/model_knn.pkl", 'rb') as file_model:
    model_knn = pickle.load(file_model)


with open("Data/donnees_clean_ml.pkl", 'rb') as file_donnees_model:
    X = pickle.load(file_donnees_model)

In [18]:
df = pd.read_csv("Data/donnees_model_reco_V2.csv")

df_film = df[df['tconst'] == imdb_id]

In [22]:
index_cible = df_film.index
    
cible_transformed = preprocessor.transform(X.loc[index_cible])
distance, indice = model_knn.kneighbors(cible_transformed)

id_voisins = df.iloc[indice[0]]['tconst'].to_list()

dic_poster = {}
for idx, id in enumerate(id_voisins):
    if idx >= 1:     
        url = "https://api.themoviedb.org/3/find/"+ id +"?external_source=imdb_id&language=fr-FR"

        response = requests.get(url, headers=headers)

        data = json.loads(response.text)

        try:
            dic_poster[id] = data["movie_results"][0]["poster_path"]
        except:
            pass

count = 0
for idx, (id_imdb_reco, poster) in enumerate(dic_poster.items()):
    if id_imdb_reco not in liste_id_saga:
        if poster is not None:
            if count < 5:
                   count += 1
                   print(id_imdb_reco)

tt0202586
tt0146315
tt0120166
tt0193318
tt0363771

In [1]:
import pandas as pd

In [7]:
df_info = pd.read_csv("Data/info_film_leger.csv")
df_info = df_info[['tconst', 'primaryName', 'category']]

In [12]:
df_info = df_info[df_info['category'].isin(['actor','actress','director'])]

In [13]:
df_info

            tconst         primaryName  category
0        tt0263330    Arnaldo Coutinho     actor
1        tt0263330    Hélio de Soveral     actor
2        tt0263330         Iris Delmar   actress
3        tt0263330    Marlene Fernanda   actress
4        tt0263330      Zizinha Macedo   actress
...            ...                 ...       ...
5643567  tt9821006       Joshua Dobkin     actor
5643568  tt9821006  Lee Perez-Gonzalez     actor
5643569  tt9821006          Josh Amato     actor
5643570  tt9821006         Zack Wilcox  director
5643578  tt9915736      Milos Twilight  director

[3484662 rows x 3 columns]

In [14]:
import pickle

with open("info_acteur.pkl", "wb") as file_model:
    pickle.dump(df_info, file_model)